<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video  className="shadow mt-5" style={{width:90+"%",marginBottom:"0px",borderRadius:"10px"}} controls>
        <source src="http://d9f0-2409-40d7-7-598-e4d1-9e10-abe6-878e.ngrok-free.app/uploads/uploads%5Cdownloaded_video_phase_magnified.mp4?download=true" type="video/mp4"/>
        Your browser does not support the video tag.
      </video>'
    
</body>
</html>