
.mainbg{
    display: flex;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* z-index: -100; */
    padding: 0px;
    background-color: #F0F2F5;


}
.notifications{
    /* background-color: blue; */
    position: absolute;
    top: 0px;
    right: 0px;
    height: fit-content;
    min-height: 100vh;
    width: 82vw;
    overflow-x: none;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
    
    
 

}

form label{
    color: rgb(104, 102, 102);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    /* background-color: #F0F2F5; */


}
#btnform{
    background-color: #6C63FF;
}
#btnform:hover{
    background-color: #4e49b2;
}
#feedback-form-wrapper #floating-icon > button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translate(50%, -50%);
    transform-origin: right;
  }
  
  #feedback-form-wrapper .rating-input-wrapper input[type="radio"] {
    display: none;
  }
  #feedback-form-wrapper .rating-input-wrapper input[type="radio"] ~ span {
    cursor: pointer;
  }
  #feedback-form-wrapper .rating-input-wrapper input[type="radio"]:checked ~ span {
    background-color: #4261dc;
    color: #fff;
  }
  #feedback-form-wrapper .rating-labels > label{
    font-size: 14px;
      color: #777;
  }
  .card{
    min-width: 250px;
  }
  @media (min-width: 768px){
   .col-md-3 {
    flex: 0 0 auto;
    width: 24%;
    /* width: 250px; */
}}
  