#sp_flex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
#spg{
    width: 50vw;
    min-width: 270px;
    margin: 8px;
    background-color: white;
    color: black;
    padding: 40px;
}
#spg_btn{
    background-color: black;
}
#spg_btn:hover{
    border: 2px solid black;
    background-color: rgb(51, 51, 204);
    scale: 1.03;
    color: black;
}
#signuppage{
    background-color: #F0F2F5;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #spg div input{
    border: 2px solid blue;
    border-radius: 0px;
  }
  .login{
    width: 40%;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  #spg_btn{
    background-color: black;
  }
  #spg_btn:hover{
    border: 2px solid black;
    background-color: rgb(69, 69, 214);
    scale: 1.03;
    color: black;
  }